<div class="row tileWrap">
    <div class="tileLoading fadeOut" ng-show="PhotoGridCtrl.isLoading">
        <i class="fa fa-spinner fa-spin"></i>
    </div>
    <div ng-repeat="photo in PhotoGridCtrl.images" class="tileBox fadeIn fadeInDuration fadeInDelay">
        <div class="contentBox thumbnail" data-ng-click="photo.selectedPhoto()">
            <a href="{{ ::photo.url_l }}" class="fancybox" rel="gallery" title="{{ ::photo.title }}" data-owner="{{ ::photo.ownername }}">
                <image src="{{ ::photo.url_s }}" width="{{ ::photo.width_s }}"></image>
            </a>
            <div class="titleBox">{{ ::photo.title }}</div>
        </div>
    </div>
    <photo-gallery></photo-gallery>
</div>